<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} PUT
    RewriteRule .* - [E=REQUEST_METHOD:PUT]
    RewriteCond %{REQUEST_METHOD} DELETE
    RewriteRule .* - [E=REQUEST_METHOD:DELETE]
</IfModule>